div {
  padding: 10px;
  border: 1px solid black;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0px;
  right: 0px;
}

.fixed {
  position: fixed;
  top: 0px;
  right: 0px;
}
